<!DOCTYPE html>
<html>
<head lang="en">
    <!--    meta content    -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>Orion Dashboard</title>

    <!--    js    -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/knockout-3.3.0.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-switch.min.js"></script>
    <script src="/static/js/main.js"></script>

    <!--    css    -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="all"/>
    <link href="/static/css/bootstrap-switch.min.css" rel="stylesheet" media="all"/>
    <link href="/static/css/style.css" rel="stylesheet" media="all"/>
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Orion Dashboard</a>
            </div>
        </div>
    </div>

    <div id="sessionList" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Traffic Summary</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>ALDDoS Possibility</th>
                        <th>Ban</th>
                        <th>Session Summary</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: items">
                    <tr data-bind="css: div_class">
                        <td data-bind="text: session"></td>
                        <td data-bind="text: probability() + '% Possibility'"></td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="checkbox"
                                       data-bind="checked: is_ban, attr: { 'name': 'ban_' + session }"
                                       data-on-color="warning">
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-block"
                                    data-toggle="modal" data-target="#sessionModal"
                                    data-bind="attr: { 'data-session':session }">
                                View
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Start of Session Modal-->
    <div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="sessionModalLabel" data-bind="text: 'Activity summary for ' + session"></h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" data-bind="attr: { 'src':request_graph, 'alt':'Request graph for ' + session }">
                    <p class="img-caption" data-bind="text: 'Request distribution graph for ' + session"></p>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Factor</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: factors">
                            <tr>
                                <td data-bind="text: key"></td>
                                <td data-bind="text: value"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Session Modal-->
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit">Developed by Grainier Perera.</p>
    </div>
</div>
</body>
</html>